# Week 10
# Data Loading and Storage

Accessing data is a necessary first step for most data science projects. From this chapter we will learn:
- Reading and writing data in text format (.txt, .csv, .json)
- Reading data from webpages (web scrapping)
- Reading and writing data in binary format (.pickle, .feather, .h5)
- Interacting with databases

Reading:
- Textbook, Chapter 6

## I. Reading and Writing Data in Text Format

### 1. csv file

In [21]:
# Let's create a data frame first
import numpy as np
import pandas as pd

values = np.array([
    [100, 80, 95, 'A'],
    [55, 60, 45, 'F'],
    [70, 75, 90, 'A'],
    [75, 70, 60, 'D'],
    [60, 73, 75, 'C'],
    [72, 63, -1, 'NA']
])
df = pd.DataFrame(values,
                   columns=['Midterm', 'Project', 'Final', 'LetterGrade'],
                   index=['Alex', 'Bob', 'Chris', 'Doug', 'Eva', "Frank"])
df

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

In [22]:
# Write to a csv file using .to_csv()
import os
print('Does path "Data/temp/" exist?', os.path.exists("Data/temp/"))

if not os.path.exists("Data/temp/"):
    os.mkdir("Data/temp")
    print('File path "Data/temp/" created.')

df.to_csv("Data/temp/grades.csv")

Does path "Data/temp/" exist? True

In [11]:
# Load the csv file
df2 = pd.read_csv("Data/temp/grades.csv", sep=",")
df2

    Alex  100  80  95    A
0    Bob   55  60  45    F
1  Chris   70  75  90    A
2   Doug   75  70  60    D
3    Eva   60  73  75    C
4  Frank   72  63  -1  NaN

In [7]:
# Load only the first 3 rows
df3 = pd.read_csv("Data/temp/grades.csv", sep=',', nrows=3)
df3

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A

In [10]:
# Load the file, skipping row 2 and 4
df4 = pd.read_csv("Data/temp/grades.csv", sep=',', skiprows=[2, 4])
df4

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1      Chris       70       75     90           A
2        Eva       60       73     75           C
3      Frank       72       63     -1         NaN

In [19]:
# Remove column headers from the csv file, then load it
# df5 = pd.read_csv("Data/temp/grades.csv", header=None, names=['Name', 'Midterm', 'Project', 'Final', 'LetterGrade'])
df5 = pd.read_csv("Data/temp/grades.csv", sep=',', names=['Name', 'Midterm', 'Project', 'Final', 'LetterGrade'])
df5

    Name  Midterm  Project  Final LetterGrade
0   Alex      100       80     95           A
1    Bob       55       60     45           F
2  Chris       70       75     90           A
3   Doug       75       70     60           D
4    Eva       60       73     75           C
5  Frank       72       63     -1         NaN

In [23]:
# Set first column as index
df6 = pd.read_csv("Data/temp/grades.csv", sep=',', index_col=0)
df6

       Midterm  Project  Final LetterGrade
Alex       100       80     95           A
Bob         55       60     45           F
Chris       70       75     90           A
Doug        75       70     60           D
Eva         60       73     75           C
Frank       72       63     -1         NaN

In [24]:
# Identify -1 as NaN
df7 = pd.read_csv("Data/temp/grades.csv", delimiter=',', na_values=[-1])
df7

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80   95.0           A
1        Bob       55       60   45.0           F
2      Chris       70       75   90.0           A
3       Doug       75       70   60.0           D
4        Eva       60       73   75.0           C
5      Frank       72       63    NaN         NaN

### 2. Load txt file with values separated by spaces

In [25]:
with open("Data/temp/values.txt", 'w') as file:
    file.write("Index Category     Value\n")
    file.write("1            A      2.92\n")
    file.write("2            B     12.14\n")
    file.write("3            C    123.56\n")

In [26]:
# Although read_csv() is still applicable, setting delimiter to a single space will create errors
df = pd.read_csv("Data/temp/values.txt", sep=" ")
df

,,,,,,,,,,,,Index,Category,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Value
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,2.92
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,12.14,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,123.56,NaN,NaN

In [27]:
df = pd.read_csv("Data/temp/values.txt", sep="\s+") # \s+ is the regular expression for a sequence of white spaces
df

   Index Category   Value
0      1        A    2.92
1      2        B   12.14
2      3        C  123.56

### 3. Load JSON files

**JavaScript Object Notation (JSON)** is a popular file format to storing unstructured data because it is easy for both human and computer to understand.
- Its structure is very similar to Python dictionary
- Load a json file with json.loads()
- Writes to a json file with json.dump()

In [29]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [30]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [31]:
?result

In [33]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [34]:
# Use json.dump(object, file) to write the content to file
with open("Data/temp/People.json", 'w') as file:
    json.dump(result, file)

In [35]:
# Load from People.json
with open("Data/temp/People.json", "r") as file:
    people = json.load(file)
people

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [36]:
# Load the content as a data frame
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

## II. Web Scrapping
When performing data science tasks, it's common to want to use data found on the internet. You'll usually be able to access the data in csv format, or via an Application Programming Interface (API). However, there are times when the data you want can only be accessed as part of a web page. In cases like this, you'll want to use a technique called **web scraping** to get the data from the web page into a format you can work with in your analysis.

In [65]:
# Download a webpage
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page #2** status code usually means successful download

In [66]:
# Show what is downloaded
print(page.content)

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

We will use **beautifulsoup** library to extract useful information from the html script.

In [40]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\lzhao\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lzhao\anaconda3\lib\site-packages (from BeautifulSoup4) (2.0.1)

In [67]:
from bs4 import BeautifulSoup

In [68]:
soup = BeautifulSoup(page.content, 'html.parser')
# soup
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [69]:
# using the children attribute to select all the top-level tags
list(soup.children)

['html',
 '\n',
 <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [45]:
# type of each children
print([type(item) for item in list(soup.children)])

[<class 'bs4.element.Doctype'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>]

In [70]:
# select the html tag and its children by taking the third item in the list:
html = list(soup.children)[2]
print(html.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [71]:
list(html.children)

['\n',
 <head>
 <title>A simple example page</title>
 </head>,
 '\n',
 <body>
 <p>Here is some simple content for this page.</p>
 </body>,
 '\n']

In [75]:
nums = ['1', '2', '3', '4', '5']
# print(nums)

# What if I want the list to be displayed like this:
# 1
# 2
# 3
# 4
# 5
# What string generates this exact output? 
# "1\n2\n3\n4\n5"
# Pattern: the elements from the list are concatenated by symbol "\n"
# Expression: '\n'.join(nums)
print('\n'.join(nums))

1
2
3
4
5

In [77]:
print('-'.join(nums))
print(' ----- '.join(nums))

1-2-3-4-5
1 ----- 2 ----- 3 ----- 4 ----- 5

In [80]:
# What if the list contains not strings?
nums = [1, 2, 3, 4, 5]
# print('-'.join(nums)) # cannot join numbers directly
print('-'.join([str(x) for x in nums]))
print(' ---- '.join([str(x) for x in nums]))

1-2-3-4-5
1 ---- 2 ---- 3 ---- 4 ---- 5

In [72]:
print('\n'.join([str(idx) + ':\n' + str(item) \
                 for idx, item in enumerate(list(html.children))]))

0:


1:
<head>
<title>A simple example page</title>
</head>
2:


3:
<body>
<p>Here is some simple content for this page.</p>
</body>
4:

In [50]:
len(list(html.children))

5

In [51]:
print([type(item) for item in list(html.children)])

[<class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>]

In [81]:
body = list(html.children)[3]
print(body)

<body>
<p>Here is some simple content for this page.</p>
</body>

In [82]:
print(list(body.children))

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [83]:
p = list(body.children)[1]
print(p)

<p>Here is some simple content for this page.</p>

In [84]:
p.get_text()

'Here is some simple content for this page.'

#### FInding all instances of a tag at once

In [56]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

In [57]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [58]:
# Find the first instance of a tag
soup.find('p')

#### Searching for tags by class and id

In [61]:
# Let's look at another webpage with classes and id's
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <div>
   <p class="inner-text first-item" id="first">
    First paragraph.
   </p>
   <p class="inner-text">
    Second paragraph.
   </p>
  </div>
  <p class="outer-text first-item" id="second">
   <b>
    First outer paragraph.
   </b>
  </p>
  <p class="outer-text">
   <b>
    Second outer paragraph.
   </b>
  </p>
 </body>
</html>

In [62]:
# Find all tags of a class
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [63]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [64]:
soup.find_all('p')

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>,
 <p class="inner-text">
                 Second paragraph.
             </p>,
 <p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

#### Downloading the weather data
1. Open the [weather forecast page](https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE)
2. Display the source code (On Chrome use "Developer Tools")
3. Identify the item containing data (On Chrome right click the values and select "Inspect")

In [85]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
# print(len(seven_day))
# print(seven_day)
forecast_items = seven_day.find_all(class_="tombstone-container")
# print(len(forecast_items))
# print(forecast_items)
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Today
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Today: A 30 percent chance of showers, mainly before noon.  Mostly cloudy, with a high near 63. West wind 5 to 9 mph. " class="forecast-icon" src="newimages/medium/shra30.png" title="Today: A 30 percent chance of showers, mainly before noon.  Mostly cloudy, with a high near 63. West wind 5 to 9 mph. "/>
 </p>
 <p class="short-desc">
  Chance
  <br/>
  Showers
 </p>
 <p class="temp temp-high">
  High: 63 °F
 </p>
</div>

In [89]:
# Find today's weather
# From the html script, we see that the tag containing today's weather belongs to class "myforecast-current-lrg"
today = soup.find_all(class_="myforecast-current-lrg")
today[0].get_text()

'54°F'

In [90]:
# Find weather forecast for the week
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['Today',
 'Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday']

In [93]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

['ChanceShowers', 'Mostly Cloudythen SlightChance Rain', 'Rain', 'Rain', 'Rain andBreezy thenChance Rain', 'Partly Cloudy', 'Sunny', 'Partly Cloudy', 'Partly Sunnythen ChanceRain']
['High: 63 °F', 'Low: 54 °F', 'High: 56 °F', 'Low: 45 °F', 'High: 51 °F', 'Low: 35 °F', 'High: 49 °F', 'Low: 42 °F', 'High: 57 °F']
['Today: A 30 percent chance of showers, mainly before noon.  Mostly cloudy, with a high near 63. West wind 5 to 9 mph. ', 'Tonight: A 20 percent chance of rain after 2am.  Cloudy, with a low around 54. West wind 5 to 7 mph. ', 'Thursday: Rain.  High near 56. Northeast wind 6 to 10 mph.  Chance of precipitation is 90%. New precipitation amounts between three quarters and one inch possible. ', 'Thursday Night: Rain.  Low around 45. North wind 14 to 17 mph, with gusts as high as 28 mph.  Chance of precipitation is 90%. New precipitation amounts between a half and three quarters of an inch possible. ', 'Friday: Rain, mainly before noon, then a slight chance of showers after 3pm.  High near 51. Breezy, with a north wind 14 to 20 mph.  Chance of precipitation is 80%. New precipitation amounts between a quarter and half of an inch possible. ', 'Friday Night: Partly cloudy, with a low around 35.', 'Saturday: Sunny, with a high near 49.', 'Saturday Night: Partly cloudy, with a low around 42.', 'Sunday: A 30 percent chance of rain after noon.  Partly sunny, with a high near 57.']

In [94]:
# Load the weather data as a data frame
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

,period,short_desc,temp,desc
0,Today,ChanceShowers,High: 63 °F,"Today: A 30 percent chance of showers, mainly ..."
1,Tonight,Mostly Cloudythen SlightChance Rain,Low: 54 °F,Tonight: A 20 percent chance of rain after 2am...
2,Thursday,Rain,High: 56 °F,Thursday: Rain. High near 56. Northeast wind ...
3,ThursdayNight,Rain,Low: 45 °F,Thursday Night: Rain. Low around 45. North wi...
4,Friday,Rain andBreezy thenChance Rain,High: 51 °F,"Friday: Rain, mainly before noon, then a sligh..."
5,FridayNight,Partly Cloudy,Low: 35 °F,"Friday Night: Partly cloudy, with a low around..."
6,Saturday,Sunny,High: 49 °F,"Saturday: Sunny, with a high near 49."
7,SaturdayNight,Partly Cloudy,Low: 42 °F,"Saturday Night: Partly cloudy, with a low arou..."
8,Sunday,Partly Sunnythen ChanceRain,High: 57 °F,Sunday: A 30 percent chance of rain after noon...

In [95]:
weather.dtypes

period        object
short_desc    object
temp          object
desc          object
dtype: object

In [99]:
# extract numeric temperature
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
# Regular expression that represents numbers: \d+ (one or more digits)
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html
temp_nums
weather["temp_num"] = temp_nums.astype('int')
weather

,period,short_desc,temp,desc,temp_num
0,Today,ChanceShowers,High: 63 °F,"Today: A 30 percent chance of showers, mainly ...",63
1,Tonight,Mostly Cloudythen SlightChance Rain,Low: 54 °F,Tonight: A 20 percent chance of rain after 2am...,54
2,Thursday,Rain,High: 56 °F,Thursday: Rain. High near 56. Northeast wind ...,56
3,ThursdayNight,Rain,Low: 45 °F,Thursday Night: Rain. Low around 45. North wi...,45
4,Friday,Rain andBreezy thenChance Rain,High: 51 °F,"Friday: Rain, mainly before noon, then a sligh...",51
5,FridayNight,Partly Cloudy,Low: 35 °F,"Friday Night: Partly cloudy, with a low around...",35
6,Saturday,Sunny,High: 49 °F,"Saturday: Sunny, with a high near 49.",49
7,SaturdayNight,Partly Cloudy,Low: 42 °F,"Saturday Night: Partly cloudy, with a low arou...",42
8,Sunday,Partly Sunnythen ChanceRain,High: 57 °F,Sunday: A 30 percent chance of rain after noon...,57

In [100]:
# Identify day temperature from night temperature
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: temp, dtype: bool

In [101]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
1,Tonight,Mostly Cloudythen SlightChance Rain,Low: 54 °F,Tonight: A 20 percent chance of rain after 2am...,54,True
3,ThursdayNight,Rain,Low: 45 °F,Thursday Night: Rain. Low around 45. North wi...,45,True
5,FridayNight,Partly Cloudy,Low: 35 °F,"Friday Night: Partly cloudy, with a low around...",35,True
7,SaturdayNight,Partly Cloudy,Low: 42 °F,"Saturday Night: Partly cloudy, with a low arou...",42,True

In [ ]:
# Get new headlines from New York Times?
# Get current stock prices?
# Monitor alarms?;
# Download files?